<div class="alert-container">
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ flash | trans }}
        </div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ flash | trans }}
        </div>
    {% endfor %}
</div>
