<aside class="aside aside-fixed">
    <div class="aside-header">
        <a href="#" class="aside-logo">{{ app_name }}</a>
        <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div class="aside-body">
        <ul class="nav nav-aside">
            <li class="nav-label">Dashboard</li>
            <li class="">
                <a href="#" class="nav-link">
                    <i data-feather="home"></i> <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
